.error_no_data {
	color: #cc0000;
	font-weight: bold;
	border: 1px solid #E2C822;
	background: #FFF9D7;
	height: 80px;
	text-align:center;
	line-height:80px;
	font-size:18px;
}

.action_error {
	color: #cc0000;
	font-weight: bold;
	border: 1px solid #E2C822;
	background: #FFF9D7;
	height: 32px;
	text-align:center;
	line-height:32px;
	font-size:12px;
	display:none;
}

.action_message {
	color: #1A8000;
	font-weight: bold;
	border: 1px solid #007A40;
	background: #E5FFD7;
	height: 32px;
	text-align:center;
	line-height:32px;
	font-size:12px;
	display:none;
}

.popup { border:3px solid #65B1E4; display:none; background:#ffffff;}

.error_field {
	border: 1px solid red;
}

.infoTable th span {
	margin-left:5px;
	color:red;
}

.infoTable th, .infoTable td {
	vertical-align:middle;
}

#upload_panel {
	border:3px solid #DEEEFE;
}

#upload_panel .infoTable {
	margin-top:0px;
}

#upload_panel .infoTable td {
	height:30px;
	vertical-align:middle;
}

.form_image {
	float: left;
	display: inline;
	margin-right: 5px;
	margin-bottom: 5px;
}

.form_image .form_image_item {
	border: 1px solid #cccccc;
	width: 120px;
	height: 90px;
}

.form_image .form_image_op {
	height: 20px;
	line-height: 20px;
	width: 120px;
	background: #777777;
	text-align: center;
	border: 1px solid #cccccc;
}

.form_image .form_image_op a {
	color: #ffffff;
}